<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>menu</title>
</head>
<body>
    <h1>ver mapa</h1>
    <button onclick="window.location.href='/api/v1/mapa/view'">Clique</button>
    <h2>ver roteiro</h2>
    <button onclick="window.location.href='/api/v1/roteiro/gerarroteirolongo'">Roteiro Longo</button>
    <button onclick="window.location.href='/api/v1/roteiro/gerarroteirocurto'">Roteiro Curto</button>
    <button onclick="window.location.href = '/api/v1/members/login'">LOGIN</button>
    <button onclick="window.location.href = '/api/v1/members/signup'">CRIAR CONTA</button>
    <button onclick="window.location.href = '/api/v1/members/account'">VER CONTA</button>
</head>

    
</html>