<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Criar Conta</title>
    <script>
        function send(){
            let name = document.getElementById("name").value;
            let email = document.getElementById("email").value;
            let password = document.getElementById("password").value;
            let confirm = document.getElementById("confirm").value;

            if (password !== confirm){
                window.alert("passwords are different!!!!");
                return;
            }

            const json = {
                name_u: name,
                email_u: email,
                password_u: password
            };

            fetch("/api/v1/members/signup", {
                method: "POST",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify(json)
            });

        }
    </script>
</head>
<body>
    <h1>CRIAR CONTA</h1>
    <div class="name-getter">
        <label for="name">Nome:</label>
        <input type="text" id="name" name="name" required>
    </div>
    <br>
    <div class="email-getter">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>
    </div>
    <br>
    <div class="password-getter">
        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" required>
        <label for="confirm">Confirma:</label>
        <input type="password" id="confirm" name="confirm" required>
    </div>
    <br>
    <input type="submit" onclick="send()" value="Confirmar">
    <br><br>
    <button onclick="window.location.href = '/'">Voltar</button>
</body>
</html>